<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
    <div>

        @if (User.Identity?.IsAuthenticated == true)
        {
            <div>Привіт, @User.Identity.Name</div>
            <div>@Html.ActionLink("Вийти", "Logout", "Home")</div>                                
        }
        else
        {
            @if (!Context.Request.Host.Host.Equals("localhost") )
            {
                <script async src="https://telegram.org/js/telegram-widget.js?22"
                        data-telegram-login="KBIITMM_bot" data-size="large" data-radius="20"
                        data-auth-url="/home/telegramCallback" data-request-access="write">
                </script>
            }
            else
            {
                <div>DEV mode, no TG widget here</div>
            }
        }
    </div>
    <div>
        @RenderBody()
    </div>
    </body>
</html>